<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add">add</a>
          </li>
        </ul>
      </div>
    </nav>

    <form method="post" action="/add">
      {% csrf_token %}
      <div class="form-group">
        <label for="name">name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="name"
        />
      </div>

      <div class="form-group">
        <label for="company">company</label>
        <input
          type="text"
          class="form-control"
          id="company"
          name="company"
          placeholder="company"
        />
      </div>

      <div class="form-group">
        <label for="price">price</label>
        <input
          type="number"
          class="form-control"
          id="price"
          name="price"
          placeholder="price"
        />
      </div>

      <div class="form-group">
        <label for="number_in_stock">number in stock</label>
        <input
          type="number"
          class="form-control"
          id="number_in_stock"
          name="number_in_stock"
          placeholder="number in stock"
        />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
</html>
